In [1]:
import pandas as pd
import os

In [2]:
# Read fatalPoliceShootings Data File 
fatalPoliceShootings = pd.read_csv("Resources/fatalPoliceShootings.csv")

fatalPoliceShootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

In [3]:
#split year to a new column for analysis
fatalPoliceShootings['Year'] = pd.DatetimeIndex(fatalPoliceShootings['date']).year
#get the date between 2018 to 2022
fatalPoliceShootings=fatalPoliceShootings.loc[fatalPoliceShootings['Year']>=2018]

#rename the state (abbreviation) column to get the full state name by merging with stateName.csv 
fatalPoliceShootings.rename(columns={'state':'Code'}, inplace=True)

fatalPoliceShootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,Code,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,Year
2933,3275,Mark Steven Parkinson,2018-01-01,shot,gun,65.0,M,W,Rossville,GA,True,attack,Not fleeing,False,-85.312,34.939,True,2018
2934,3288,Archie Lawhon III,2018-01-01,shot,gun,42.0,M,W,Romance,AR,False,attack,Not fleeing,False,NaN,NaN,True,2018
2935,3289,Gary Johns,2018-01-01,shot,gun,65.0,M,W,Edgewater,FL,True,attack,Not fleeing,True,-80.911,28.944,True,2018
2936,3291,Shana Diane Musquiz,2018-01-02,shot,gun,30.0,F,W,Camp Wood,TX,False,attack,Not fleeing,False,-100.011,29.670,True,2018
2937,3292,Ronald Elliot,2018-01-02,shot,gun,49.0,M,W,Ozark,AR,True,attack,Not fleeing,False,-93.835,35.490,True,2018

In [5]:
# read state names data
stateName=pd.read_csv('Resources/states.csv')
stateName=stateName[['Code','State']]
stateName.head()

  Code       State
0   AL     Alabama
1   AK      Alaska
2   AZ     Arizona
3   AR    Arkansas
4   CA  California

In [7]:
# merge fatalPoliceShootings and stateName datasets to get the full sate name
fatalPoliceShootings=pd.merge(fatalPoliceShootings, stateName, how='left', on=['Code','Code'])
fatalPoliceShootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,Code,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,Year,State
0,3275,Mark Steven Parkinson,2018-01-01,shot,gun,65.0,M,W,Rossville,GA,True,attack,Not fleeing,False,-85.312,34.939,True,2018,Georgia
1,3288,Archie Lawhon III,2018-01-01,shot,gun,42.0,M,W,Romance,AR,False,attack,Not fleeing,False,NaN,NaN,True,2018,Arkansas
2,3289,Gary Johns,2018-01-01,shot,gun,65.0,M,W,Edgewater,FL,True,attack,Not fleeing,True,-80.911,28.944,True,2018,Florida
3,3291,Shana Diane Musquiz,2018-01-02,shot,gun,30.0,F,W,Camp Wood,TX,False,attack,Not fleeing,False,-100.011,29.670,True,2018,Texas
4,3292,Ronald Elliot,2018-01-02,shot,gun,49.0,M,W,Ozark,AR,True,attack,Not fleeing,False,-93.835,35.490,True,2018,Arkansas

In [8]:
# get the columns needed for analysis
fatalPoliceShootings=fatalPoliceShootings[['Year','State','date','city','manner_of_death']]
fatalPoliceShootings=fatalPoliceShootings.sort_values(['Year'],ascending=False)
fatalPoliceShootings

      Year         State        date                    city manner_of_death
4834  2022    Washington  2022-09-22                  Sequim            shot
4257  2022     Tennessee  2022-03-11               Covington            shot
4327  2022          Ohio  2022-04-01              Youngstown            shot
4326  2022  Pennsylvania  2022-03-31                 Lebanon            shot
4325  2022  South Dakota  2022-03-31             Sioux Falls            shot
...    ...           ...         ...                     ...             ...
657   2018     Louisiana  2018-08-07              Shreveport            shot
656   2018       Arizona  2018-08-07  Salt River Reservation            shot
655   2018    California  2018-08-07             Los Angeles            shot
654   2018       Indiana  2018-08-07           Monroe County            shot
0     2018       Georgia  2018-01-01               Rossville            shot

[4835 rows x 5 columns]

In [10]:
fatalPoliceShootings.to_csv("clean_json/clean_fatalPolice.csv", index = False)

OSError: Cannot save file into a non-existent directory: 'clean_json'